
*.user
*.pdb
*.vsp
*.psess
*.ilk
*.log
*.idb
*.idc
*.sdf
*.suo
*.tlog
*.log
*.opensdf
*.orig
*.lib
*.exe
*#
*~
*.pb.cc
*.pb.h
*.h-
*.cpp-
*.cc-
.project
.cproject
proto.sh
tags

CMakeCache.txt
bin/
lib/
Debug/
Release/
ipch/
CMakeFiles/
builder/bin
builder/cetty-*
builder/CMakeFiles
builder/lib
builder/*.cmake
builder/CMakeCache.txt
builder/Makefile