
*.user
*.pdb
*.ilk
*.log
*.idb
*.idc
*.sdf
*.suo
*.tlog
*.log
*.opensdf
*.orig
*.lib
*.exe
*#
*.pb.cc
*.pb.h
*.h-
*.cpp-
*.cc-
.project
.cproject
.sh
tags

CMakeCache.txt
bin/
lib/
Debug/
Release/
ipch/
CMakeFiles/
builder/
