
*.user
*.pdb
*.ilk
*.log
*.idb
*.idc
*.sdf
*.suo
*.tlog
*.log
*.opensdf
*.orig
*.lib
*.exe
*.cmake
*#
*.pb.cc
*.pb.h
*-

CMakeCache.txt
bin/
lib/
Debug/
Release/
build/
ipch/
CMakeFiles/
.project
.cproject
